<article>
	<% if notice %>
		<aside id="notice"><%= notice %></aside>
	<% end %>

	<h2><%= t('.title') %></h2>
	<table>
		<%# renderiza, por cada line_item, el partial con el mismo nombre (line_items/_line_item.html.erb) %>
		<%= render(cart.line_items) %>
		<tfoot>
			<tr>
				<th colspan="2">Total:</th>
				<th class="price"><%= number_to_currency(cart.total_price) %></th>
			</tr>
		</tfoot>
	</table>

	<div class="actions">
		<%= button_to t('.empty'), cart, method: :delete, data: { confirm: 'Are you sure?'}, remote: true %>
		<%= button_to t('.checkout'), new_order_path(locale: I18n.locale), method: :get, class: 'checkout', disabled: request.url == new_order_url %>
	</div>
</article>
